
 # Mini projet de Data Proceesing
    
        [=> KABORE Moumini

# 0. Import des bibiliothèques

In [94]:
import os
import pandas as pd
import string
import xlsxwriter

# 1. Chargement et préparation des données

In [23]:
# 1.1. Indexation du répertoire de travail

os.chdir("C:/Users/munkab/Documents/TEELGRE/5.Connaissances/M9. Master-FD-IA-UV/M1/9.Traitement-Données-Python/Projet-Traitement")

# 1.2. Chargement de la base de données

col=["geonameid", 
     "name", 
     "asciiname", 
     "alternatenames", 
     "latitude", 
     "longitude", 
     "feature class", 
     "feature code", 
     "country code", 
     "cc2", 
     "admin1 code", 
     "admin2 code", 
     "admin3 code", 
     "admin4 code", 
     "population", 
     "elevation", 
     "dem", 
     "timezone", 
     "modification date"]

bf = pd.read_csv("BF.txt",delimiter="\t", header=None, names=col)

In [42]:
# 1.3. préparation de la base de données

s_col = ["geonameid", "asciiname", "latitude", "longitude"]

subset_bf = bf[s_col]

# 1.3. Rénommination des colonnes

r_col = {"geonameid":"ID", "asciiname":"location_name", "latitude":"lat", "longitude":"long"}

subset_bf.rename(columns = r_col, inplace=True)

C:\Users\munkab\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [43]:
# 1.4. Enregitstrement de l base de données au format csv

subset_bf.to_csv("burkina_location.csv")

# 2. Opérations sur fichier csv

In [44]:
# 2.1. Chargement du fichier csv

burkina_location = pd.read_csv('burkina_location.csv')

In [63]:
# 2.2. Extraction des données contenant le nom gounghin

burkina_location_gounghin = burkina_location[burkina_location.location_name.str.lower()=="gounghin"]

In [65]:
# 2.3. Enregistrement de burkina_location_gounghin sous format csv

burkina_location_gounghin.to_csv('gounghin.csv')

In [85]:
# 2.4. Extraction des lieux dont les noms sont compris entre A et P

a_p = list(string.ascii_uppercase[:16])

burkina_location_a_p = burkina_location[burkina_location.location_name.str[0].isin(a_p)].sort_values(by='location_name')

In [86]:
# 2.5. Enregistrement de burkina_location_a_p sous format csv

burkina_location_a_p.to_csv('burkina_location_a_p.csv')

In [90]:
# 2.6. Affichage des latitudes minimales de burkina_location.csv

burkina_location[burkina_location.lat == burkina_location.lat.min()]

       Unnamed: 0        ID location_name     lat    long
11149       11149  12224995  Fadio-Mepehn  9.4295 -2.7775

In [91]:
# 2.7. Affichage des latitudes minimales de burkina_location.csv

burkina_location[burkina_location.long == burkina_location.long.min()]

      Unnamed: 0       ID location_name    lat     long
1255        1255  2354426      Tinobole  10.75 -5.48333

In [93]:
# 2.8. Les leiux dont lat>=11 et long<=0.5

burkina_location[(burkina_location.lat >= 11 ) & (burkina_location.long <= 0.5 ) ]

       Unnamed: 0        ID location_name       lat     long
0               0   2353158      Zyonguen  12.36667 -0.45000
1               1   2353159     Zyiliwele  12.38333 -2.73333
2               2   2353160        Zyanko  12.78333 -0.41667
3               3   2353161         Zouta  13.14908 -1.28197
4               4   2353162     Zourtenga  12.95741 -1.28745
...           ...       ...           ...       ...      ...
11288       11288  12358467          Kate  14.13461 -0.81244
11290       11290  12358654      Koulhole  13.43898 -1.16817
11293       11293  12358657     Nagbingou  13.55244 -0.46760
11295       11295  12358676         Sella  14.35699  0.28666
11296       11296  12358677       Kiefaye  13.78260 -1.58790

[9026 rows x 5 columns]

# 3. Sortie Excel

In [128]:
# 3.1. Création du fichier Excel nommé mini_projet

book  = xlsxwriter.Workbook(os.path.join(os.getcwd(), 'mini_projet.xlsx'))
sheet_gounghin = book.add_worksheet('gounghin')
sheet_a_to_p = book.add_worksheet('A_to_P')

colonnes = [c for c in list(burkina_location_gounghin.columns) if c!='Unnamed: 0']

# Création des entêtes 

for i in range(len(colonnes)):
        sheet_gounghin.write(0, i, colonnes[i])
        sheet_a_to_p.write(0, i, colonnes[i])
        
# Renseignement des données

for i in range(burkina_location_gounghin.shape[0]):
    for j in range(len(colonnes)):
        sheet_gounghin.write(i+1, j, burkina_location_gounghin.iloc[i][colonnes[j]])

for i in range(burkina_location_a_p.shape[0]):
    for j in range(len(colonnes)):
        sheet_a_to_p.write(i+1, j, burkina_location_a_p.iloc[i][colonnes[j]])
book.close()